
@{
    ViewBag.Title = "İletişim";
}


<div class="alert alert-info mt-3" role="alert">
    <div class="d-flex flex-row bd-highlight">
        <div class="p-2 bd-highlight">
            <i class="fas fa-info-circle fa-2x"></i>
        </div>
        <div class="p-2 bd-highlight mt-1">
            İletişim üzerinde işlem yapmak için aşağıdaki listeyi kullanın.
        </div>
    </div>
</div>


<div class="card mt-4">
    <div class="card-header">
        <div class="d-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight mt-1">
                <i class="fas fa-map-marker-alt fa-2x"></i>
            </div>
            <div class="p-2 bd-highlight">
                <h2>İletişim Bilgileri</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-title">
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-row-reverse bd-highlight">
                        <div class="p-2 bd-highlight">
                            <button class="btn btn-primary" id="btnContactAdd">
                                <i class="fas fa-plus mr-2"></i> İletişim Ekle
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-list">
            @Html.Action("ContactList", "Company")
        </div>

    </div>
</div>



<div class="contact-add">
    @Html.Action("ContactAdd", "Company")
</div>

<div class="contact-update">

</div>


@section js {
    <script src="~/Content/js/Pagejs/Contact.js"></script>
}
