
@{
    ViewBag.Title = "Slider";
}


<div class="d-flex mb-2 mt-3">
    <div class="p-2 bd-highlight">
        <h2>Slider</h2>
    </div>
    <div class="ml-auto p-2 mt-2">
        <button class="btn btn-primary" id="btnSliderAdd">
            <i class="fas fa-plus"></i> Slider Ekle
        </button>
    </div>
</div>


<div class="slider-list">
    @Html.Action("SliderList", "Company")
</div>

<div class="slider-add">
    @Html.Action("SliderAdd", "Company")
</div>

<div class="slider-update">

</div>


@section js {
    <script src="~/Content/js/Pagejs/Slider.js"></script>
}