<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>kafesistemi.local</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>kafesistemi.local</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CafeProjectModel" Order="1" Enabled="False">
          <Destination Path="Data Source=DESKTOP-FPTNAPQ;Initial Catalog=CafeProjectDB;User ID=mesutsolak;Password=Mesut123+-" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CP.Entities.Model.CafeProjectModel, CP.Entities" MigrationConfiguration="CP.Entities.Migrations.Configuration, CP.Entities" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CafeProjectModel-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-FPTNAPQ;Initial Catalog=CafeProjectDB;User ID=mesutsolak;Password=Mesut123+-</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>