
@{
    ViewBag.Title = "Kullanıcılar";
}

<div class="card mt-4">
    <div class="card-header">
        <h2>Kullanıcılar</h2>
    </div>
    <div class="card-body">
        <div class="card-title">
            <div class="row">
                <div class="col-7 mt-1">
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <div class="dropdown">
                                <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-folder mr-1"></i> Dosya İşlemleri
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#"><i class="fas fa-file-import mr-1"></i> Excel ile Ekle</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-file-export mr-1"></i> Excel'e Aktar</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-print mr-1"></i> Yazdır</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-file-image-o mr-1"></i> Görsel Al</a>
                                </div>
                            </div>
                        </div>
                        <div class="p-2 bd-highlight">
                            <button class="btn btn-success" id="btnSecilenler">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="d-flex flex-row-reverse bd-highlight">
                        <div class="p-2 bd-highlight">
                            <button class="btn btn-primary" id="UserAdd">
                                <i class="fas fa-plus mr-1"></i> Kullanıcı Ekle
                            </button>
                            <button class="btn btn-danger" id="UserRemoveAll">
                                <i class="fa fa-trash mr-1"></i> Kullanıcıları Sil
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-text User-body">
            @Html.Action("UserList", "User")
        </div>
    </div>
</div>

<div class="modal-user-add">
    @Html.Action("Register", "User")
</div>

<div class="modal-user-update">

</div>

<div class="modal inmodal" id="ImageShowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-image mr-2"></i>Resim Görüntüle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="" id="ImgViewSrc" width="100%" />
            </div>
        </div>
    </div>
</div>

<div class="role-user-modal">

</div>




@section js{
    <script src="~/Content/js/Pagejs/user.js"></script>
}