@{
    ViewBag.Title = "Roller";
}



<div class="card mt-4">
    <div class="card-header">
        <h2>Roller</h2>
    </div>
    <div class="card-body">
        <div class="card-title">
            <div class="row">
                <div class="col-7 mt-1">
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <div class="dropdown">
                                <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-folder mr-1"></i> Dosya İşlemleri
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#"><i class="fas fa-file-import mr-1"></i> Excel ile Ekle</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-file-export mr-1"></i> Excel'e Aktar</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-print mr-1"></i> Yazdır</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-file-image-o mr-1"></i> Görsel Al</a>
                                </div>
                            </div>
                        </div>
                        <div class="p-2 bd-highlight">
                            <button class="btn btn-success" id="btnSecilenler">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="d-flex flex-row-reverse bd-highlight">
                        <div class="p-2 bd-highlight">
                            <button class="btn btn-primary" id="RoleAdd">
                                <i class="fas fa-plus mr-1"></i> Ürün Ekle
                            </button>
                            <button class="btn btn-danger" id="RoleRemoveAll">
                                <i class="fa fa-trash mr-1"></i> Ürünleri Sil
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-text Role-body">
            @Html.Action("RoleList","Role")
        </div>
    </div>
</div>

<div class="Role-Add-Modal">
    @Html.Action("RoleAdd", "Role")
</div>

<div class="Role-Update-Modal">

</div>