
@{
    ViewBag.Title = "Raporlar";
}

<div class="alert alert-info mt-3" role="alert">
    <div class="d-flex flex-row bd-highlight">
        <div class="p-2 bd-highlight">
            <i class="fas fa-info-circle fa-2x"></i>
        </div>
        <div class="p-2 bd-highlight mt-1">
            Raporlar üzerinde işlem yapmak için aşağıdaki listeyi kullanın.
        </div>
    </div>
</div>


<div class="card mt-4">
    <div class="card-header">
        <div class="d-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight mt-1">
                <i class="fas fa-chart-area fa-2x"></i>
            </div>
            <div class="p-2 bd-highlight">
                <h2>Raporlar</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-title">
            <div class="row">
                <div class="col-7 mt-1">
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <div class="dropdown">
                                <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-folder mr-1"></i> Dosya İşlemleri
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#"><i class="fas fa-file-import mr-1"></i> Excel ile Ekle</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-file-export mr-1"></i> Excel'e Aktar</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-print mr-1"></i> Yazdır</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-file-image-o mr-1"></i> Görsel Al</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-text product-body">
        </div>
    </div>
</div>

